manifest {
	homePage = 'https://github.com/dhineshp565/sanger_targseq'
   	description = 'Pipeline for generating consensus sequence, typing and BLAST search for Sanager sequencing data'
	author= 'dhineshp565'
   	mainScript = 'main.nf'
   	version = "v1.0.1"
	nextflowVersion= '>=22.12.0-edge'
	manifest.defaultBranch = "main"
	name = 'sanger_targseq'
}

params {

    input='filepath'
    out_dir= "output"
	blastdb_path= "/data/referenceDB/blast/nt.000"
	blastdb_name= "nt.000"
	kraken_db="/data/referenceDB/kraken/k2_pluspf_08gb_20230605"
	
}


profiles {
    
	standard{
		docker {
			includeConfig 'config/docker.config'
			docker.enabled=true
		}
	}
}


process {
	withLabel:low {
		cpus= 1
	 	memory= 2.GB
	 	time= 2.h
	 }
	 withLabel:medium {
	 	cpus=2
	 	memory= 4.GB
		time= 4.h
	 }
	 withLabel:high {
	 	cpus=3
	 	memory=9.GB
	 	time= 8.h
	 }
}




timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}
