process {
  withName:porechop {
    conda = "porechop"
}
  withName:minimap2 {
    conda = "minimap2"
}
  withName:splitbam {
    conda = "samtools>=1.17"
}
  withName:multiqc {
	conda = "multiqc"
}
  withName:kraken2 {
	conda = "kraken2"
} 
  withName:centrifuge {
	conda = "centrifuge"
}

 withName:kraken2_consensus {
 	conda = "kraken2"
	
}
  withName:centrifuge_consensus {
	conda = "centrifuge"
}
  withName:krona_kraken {
    conda = "krona>=2.8.1"
}
 withName:krona_centrifuge {
    conda = "krona>=2.8.1"
}
withName:make_report {
    conda = "r-rmarkdown"
}
withName:abricate {
  container= "abricate"
 }
 withName:mlst {
  container= "mlst"
 }
   
}
