process {
  withName: tracy_assembly {
    container = "geargenomics/tracy:v0.7.8"
}
   withName:krona_kraken {
    container = "quay.io/microbiome-informatics/krona:2.7.1"
}
   withName:make_report {
   container="nanozoo/rmarkdown:2.10--7ba854a"
 }
  withName: orfipy {
  container="quay.io/biocontainers/orfipy:0.0.4--py310h0dbaff4_2"
}
   
  withName:abricate {
  container= "quay.io/biocontainers/abricate:1.0.1--ha8f3691_1"
 }
 withName:blast_cons {
  container="ncbi/blast:2.16.0"
  
}
 withName:sanger_reads {
  container="ncbi/blast:2.16.0"
  
}
withName:kraken2 {
	container = "quay.io/staphb/kraken2:2.1.3"
} 
withName:mafft {
  container = "staphb/mafft:7.526"
}

withName:iqtree {
  container = "staphb/iqtree2:2.4.0"
}

withName:ggtree{
  container = "xushuangbin/ggtreeextraarticleenv:sha-d9d92ba"

}
}